[submodule "deps/translate"]
	path = deps/translate
	url = https://github.com/blokadaorg/translate
[submodule "deps/wireguard-apple"]
	path = deps/wireguard-apple
	url = https://github.com/blokadaorg/wireguard-apple
[submodule "modules/EAVI-LEDL"]
	path = modules/EAVI-LEDL
	url = https://github.com/andres290487/EAVI-LEDL.git
